@import url("https://fonts.googleapis.com/css?family=Inconsolata|Nixie+One");
    body {
        font-family: 'Nixie One', cursive;
        font-family: 'Inconsolata', monospace;
}
.compass-svg-wrapper {
	position: relative;
	padding: 10px;
	border: 1px solid black;
	height: 550px
}
#mapwrapper {
	height: 412px;
	width: 610px;
	left: 230px;
	top: 20px;
	position: absolute;

}
#svgmap-filter-panel {
	width: 160px;
	margin: 10px;
	float: left;
}
#customtooltip {
	position: absolute;
	left: 890px;
	top: 240px;
	/*opacity: 0*/

}
#ua-chart {
	position: absolute;
	left: 890px;
	top: 10px;
	width: 250px;
}
#color-legend {
	top: 450px;
	left: 300px;
	position: absolute;
}

.total-voices {
	/*position: absolute;*/
	/*margin: 0 auto;*/
	/*top: 110px;*/
}

.compass-svg-wrapper h2 {
	text-align: center;
}
.color-wrapper {
	width: 100px;
}
.colorblock {
	float: left;
	width: 40px;
	height: 40px;
	box-shadow: #555555;
	margin-bottom: 4px;
	position: relative;
}
.colorblock:nth-child(odd) {
	margin-right: 4px;
}
.colorblock span {
	margin-top: 10px;
	position: absolute;
	left: 50px;
}
.colorblock:nth-child(odd) span {
	right: 50px;
	left: auto;
	text-align: right;
}
.colorblock.ne {
	background-color: #2D728F ;
}
.colorblock.nw {
	background-color: #C42021 ;
}
.colorblock.se {
	background-color: #70AE6E ;
}
.colorblock.sw {
	background-color: #F49E4C ;
}
p {
	font-size: 14px;
	text-align: center;
}
.test {
	height: 500px;
}
.legendgroup {
	margin-left: 20px;
}
.axis path,
.axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.solidArc:hover {
	fill: orangered ;
}

.solidArc {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.x.axis path {
	display: none;
}

.aster-score {
	line-height: 1;
	font-weight: bold;
	font-size: 500%;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

select, button {
	margin: 6px;
	padding: 3px;
	border-radius: 3px;
	width: 150px;
	display: block;
	height: 30px;
	font-size: 14px;
	color: #555;
	coursor: pointer;
}
select.setted {
	background-color: #B7CECE;
}
button {
	box-shadow: none;
	background-color: #B7CECE;
	opacity: 1;
	border-style: none;
	border: 1px solid #aaa;
}
button:hover {
	opacity: 0.8;
}
.land {
	fill: #4f9d9b;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}
.land:hover {
	fill: #f2cc84;
	fill-opacity: 1 !important;
	stroke: #ff5b51;
}
.region-chart g {
	background-color: #fff;
}
.number-in-ring {
	cursor: default;
}

.tooltip svg {
	border: 2px solid #888;
	background-color: #000;
}

.tooltip circle {
	opacity: 0.4;
}
.outlineArc {
	fill: #ffffff;
	opacity: 0.4;
}
.outlineArc:hover {
	fill: #f2cc84;
	fill-opacity: 1 !important;
	stroke: #ff5b51;
}
.quadrants-ring:hover .outlineArc {
	fill: #f29343;
	fill-opacity: 1 !important;
}
.scatterplot-percents {
	stroke: #fff;
}
.arrow-img {
	position: absolute;
	top: 30px;
	left: 125px
}
