@import url("https://fonts.googleapis.com/css?family=Inconsolata|Nixie+One");
    body, select {

        font-family: 'Nixie One', cursive;
        font-family: 'Inconsolata', monospace;
}

#mapwrapper {
	height: 412px;
	width: 610px;
	float: left;
	position: relative;
	margin-left: 100px
}
.axis path,
.axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.solidArc:hover {
	fill: orangered ;
}

.solidArc {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.x.axis path {
	display: none;
}

.aster-score {
	line-height: 1;
	font-weight: bold;
	font-size: 500%;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

select, button {
	margin: 8px;
	padding: 5px;
	border-radius: 3px;
	width: 200px;
	display: block;
	height: 40px;
	font-size: 16px;
	color: #555;
	coursor: pointer;
}
select.setted {
	background-color: #B7CECE;
}
button {
	box-shadow: none;
	background-color: #B7CECE;
	opacity: 1;
	border-style: none;
	border: 1px solid #aaa;
}
button:hover {
	opacity: 0.8;
}
.land {
	fill: #B7CECE;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}
.land:hover {
	/*fill: green;*/
	opacity: 0.7
}
.region-chart g {
	background-color: #fff;
}
.tooltip svg {
	border: 2px solid #888;
	background-color: #000;
}

.tooltip circle {
	opacity: 0.4;
}
.outlineArc {
	stroke: #aaa;
}

p {
	font-size: 14px;
	text-align: center;
}
.svgmap-filter-panel {
	width: 200px;
	margin: 10px;
	float: left;
}
.test {
	height: 500px;
}
